<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
	
	<style>
	img {
		max-width: 250px;
		max-height: 250px;
		width: auto;
		height: auto;
	}
	</style>

<body>
	{% load static %}
	<img src = "{{ img_dir }}" alt="Foto Galang">
    <h1>Halo! saya {{ name }}</h1>
    <article>Umur saya {{ age }} tahun</article>
    <article>NPM : {{ npm }}</article>
    <article>Tempat kuliah : {{ kuliah }}</article>
    <article>Saya Angkatan {{ angkatan }}</article>
    <article>Hobi saya : {{ hobi }}</article>
    <p>Deskripsi diri : {{ desc }}</p>


</body>
</html>
